.header {
    border: 1px solid #ececec;
    background: var(--header-background);
    position:fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 2;
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    padding-left: 15px;
    margin-right: 93px;
  }

  .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
  }
  
  .header__accent--blue {
    color: var(--partlogo-color);
  }
  
  .header__accent--black {
    color: var(--black-color);
  }

  
  .header-nav__link {
    display: block;
    padding: 32px 0;
  
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color);
   
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

   .header-nav {
    margin-right: auto;
  }
  .header__current {
    color: var(--hover-color);

    
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    bottom:0;
    left:0;
  }
  }
  
  .header-nav__item{
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
    
  }
  .header-nav__list {
    display: flex;
  }

  
  .header-list {
    display: flex;
    align-items: center;
  }

  .header-list__contact {

    &:not(:last-child){
    margin-right: 50px;
  }
}

  .header-list__mail,
  .header-list__tel {
    display: flex;
    font-weight: 500;
    align-items: center;
  
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
    fill: var(--second-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
  &:hover + .header-list__icon--email:hover,
  &:focus + .header-list__icon--email:focus   {
    color: var(--hover-color);
    fill: var(--hover-color);
  }

  
  &:hover + .header-contacts__icon--smartphone:hover,
  &:focus + .header-contacts__icon--smartphone:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
  }
  }

   
  
  .contact-icon{
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }